*{
    box-sizing: border-box;
}
:root{
    --bg-color: rgb(0, 0, 0, 1);
    --secondbg-color: #1d1d24;
    --main: #B3A492;
    --second: #BFB29E; 
    --third: #D6C7AE;
    --text-main: rgb(168, 161, 140);
    --br: .5em;
    --transform: transform 200ms cubic-bezier(.28,.92,.4,.99);
}
body{
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--bg-color);
    color: var(--main);
}
img{
    max-width: 100%;
}
h1,
h2,
h3,
p{
    margin: 0;
}


.card{
    position: relative;
    width: 12.5em;
}

.rank{
    position: absolute;
    top: 0;
    right: 1em;
    font-weight: bold;
    font-size: 1.123rem;
    z-index: 1000;
    background: rgba(0, 0, 0, .70);
    padding: .5em .5em .75em;
    clip-path: polygon(100% 100%, 50% 80%, 0 100%, 0 0, 100% 0);
    transition: var(--transform);

}

.classes{
    display: flex;
}
.classes img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
.front{
    transition: 200ms;
}
.front .thumbnail{
    border-radius: var(--br);
}
.front .name{
    /* text-align: center; */
    margin: .75rem 0;
}
.front .pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.front .classes img {
    border: 2px solid var(--bg-color);
}
.front .classes img:nth-of-type(1) {
    transform: translateX(50%);
    z-index: 1;
}
.front .classes img:nth-of-type(2) {
    transform: translateX(25%);
}

.back{
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.background{
    background: #234;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: scale(.2, .9);
    opacity: 0;
    border-radius: var(--br);
}

.card:hover .rank{
    transform: translate(150%, -74%);
}
.card:hover .front {
    transform: translateY(-30%) scale(.8);
}
.card:hover .front .name {
    animation: gameName 250ms forwards;
}
.card:hover .front .pricing {
    opacity: 0;
}
.card:hover .background{
    transition: var(--transform), 
    opacity 100ms linear;
    opacity: 1;
    transform: scale(1.4, 1.2);
}
.card:hover .back {
    opacity: 1;
}


@keyframes gameName{
    0% {
        text-align: left;
        opacity: 1;
    }
    20% {
        text-align: left;
        opacity: 0;
    }
    50%{
        text-align: center;
        opacity: 0;
        transform: scale(1.2);
    }
    100%{
        text-align: center;
        opacity: 1;
        transform: scale(1.2);
    }
}